@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500&display=swap');

.contact-table {
  border-radius: 1%;
  min-width: 500;
  width: 95%;
  height: 70vh;
  margin: 20px 5px;
  padding: 10px 10px;
  background: #fff;
}

.name-column {
  font-weight: bold;
}

.column-header {
  font-size: large;
}
